<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar bg-dark">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand" style="color: white">LAB4</a>
        <form class="d-flex" role="search">
            <a href="{% url 'index' %}" style="margin-left: 10px;color: white;text-decoration: none">Home</a>
            <a href="{% url 'add_post' %}" style="margin-left: 10px;color: white;text-decoration: none">Add new
                product</a>
        </form>
    </div>
</nav>

<div class="container">
    {% if posts %}
        <h1 class="text-center py-4">All posts</h1>
        <div class="container">
            {% for post in posts %}
                <div class="row py-4 my-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded"
                     style="border: 1px solid whitesmoke">
                    <div class="col-4">
                        <img src="{{ MEDIA_URL }}{{ post.image.url }}" alt="cover_post"
                             style="width: 300px;height: 200px">
                    </div>
                    <div class="col">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.description }}</p>
                        <p>{{ post.category }}</p>
                        <h1>{{ post.price }} $</h1>
                        <p>{{ post.status }}</p>
                        <a class="icon-link icon-link-hover" href="{% url 'details' post.id %}">
                            View Details
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
                                <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg>
                        </a></div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center py-4">
            <h1>No posts here</h1>
            <a href="{% url 'add_post' %}" class="btn btn-primary mt-3">Add posts</a>
        </div>
    {% endif %}
</div>
</body>
</html>